* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: "Roboto";
}

main,
header {
    min-width: 30em;
    max-width: 80em;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 0.2em;
    color: #4a4a4a;
    margin: 0 auto;
    font-weight: 500;
}

section {
    margin: 3em;
}

h2 {
    padding: 0.2em 0.2em 0.1em 0.2em;
    margin-bottom: 0.5em;
    border-bottom: 0.05em solid #4898e8;
    font-weight: 500;
}

p {
    font-weight: 300;
}
